<article class='js-card c-card c-card--{{cardSize}} c-card--{{cardAlign}} {{ post_class }}'>
  {{#if feature_image}}
    <a href='{{ url }}' class='c-card__media'>
      <img
        loading='lazy'
        decoding='async'
        class='c-card__image'
        alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
        src='{{ img_url feature_image size='feature-image-large' format='webp' }}'
      >
    </a>
  {{/if}}

  <div class='c-card__content'>
    {{#if tags}}
      <div class='c-card__tag c-tag'>
        {{ tags separator='' limit='1' }}
      </div>
    {{/if}}

    <h3 class='c-card__headline'><a href='{{ url }}' class='c-card__link'>{{ title }}</a></h3>

    {{#match cardSize 'large'}}
      <p class='c-card__standfirst'>{{ excerpt }}</p>
    {{else}}
      {{#if showExcerpt}}
        {{#if @custom.enable_post_card_excerpt}}
          <p class='c-card__standfirst'>{{ excerpt }}</p>
        {{/if}}
      {{/if}}
    {{/match}}

    <div class='c-card__meta'>
      {{> byline component='card'}}

      <div class='u-flex u-align-items-center u-gap-8'>
        {{> timestamp component='card'}}
        {{> visibility-label }}
      </div>
    </div>
  </div>
</article>